{% extends "base.html.twig" %}

{% block title %} {{movie.title}} {% endblock %}

{% block h1 %}Editer les commentaires pour {{movie.title}}{% endblock %}

{% block content %}
{% if comments is empty %}
    Pas de commentaires <br>
{% else %}
    {% for com in comments %}
            <div class="com">
                <aside>
                    <div>
                        <h4>Auteur:</h4>
                        <p>{{com.author}}</p>
                    </div>
                    <div>
                        <h4>Note:</h4>
                        <p>{{com.mark}}/10</p>
                    </div>
                </aside>
                <article>
                    <h4>Commentaire:</h4>
                    <p>{{com.content}}</p>
                </article>
            </div>
            <a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printEditComment/{{com.id}}">//_modifier </a>
            <a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/deleteComment/{{com.id}}">//_supprimer </a><br>
        {% endfor %}
{% endif %}

<a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printAddComment/{{movie.id}}">//_ajouter </a>

{% endblock %}